In [2]:
from sklearn import datasets 
import pandas as pd 
import seaborn as sns

Importando as planilhas de dados

In [3]:
dadosTreinamento = pd.read_csv("conjunto_de_treinamento.csv.zip")
dadosTeste = pd.read_csv("conjunto_de_teste.csv")
exemploRespostas = pd.read_csv("exemplo_arquivo_respostas.csv")

Transformando em Dataframe

In [4]:
df_treinamento = pd.DataFrame(dadosTreinamento)
df_teste = pd.DataFrame(dadosTeste)
df_exresp = pd.DataFrame(exemploRespostas)

In [5]:
df_treinamento.head()

,id_solicitante,produto_solicitado,dia_vencimento,forma_envio_solicitacao,tipo_endereco,sexo,idade,estado_civil,qtde_dependentes,grau_instrucao,...,possui_telefone_trabalho,codigo_area_telefone_trabalho,meses_no_trabalho,profissao,ocupacao,profissao_companheiro,grau_instrucao_companheiro,local_onde_reside,local_onde_trabalha,inadimplente
0,1,1,10,presencial,1,M,85,2,0,0,...,N,,0,9.0,1.0,0.0,0.0,600.0,600.0,0
1,2,1,25,internet,1,F,38,1,0,0,...,N,,0,2.0,5.0,NaN,NaN,492.0,492.0,0
2,3,1,20,internet,1,F,37,2,0,0,...,N,,0,NaN,NaN,NaN,NaN,450.0,450.0,1
3,4,1,20,internet,1,M,37,1,1,0,...,Y,54,0,9.0,2.0,NaN,NaN,932.0,932.0,1
4,5,7,1,internet,1,F,51,1,3,0,...,N,,0,9.0,5.0,NaN,NaN,440.0,440.0,1

In [6]:
df_treinamento.columns

Index(['id_solicitante', 'produto_solicitado', 'dia_vencimento',
       'forma_envio_solicitacao', 'tipo_endereco', 'sexo', 'idade',
       'estado_civil', 'qtde_dependentes', 'grau_instrucao', 'nacionalidade',
       'estado_onde_nasceu', 'estado_onde_reside',
       'possui_telefone_residencial', 'codigo_area_telefone_residencial',
       'tipo_residencia', 'meses_na_residencia', 'possui_telefone_celular',
       'possui_email', 'renda_mensal_regular', 'renda_extra',
       'possui_cartao_visa', 'possui_cartao_mastercard',
       'possui_cartao_diners', 'possui_cartao_amex', 'possui_outros_cartoes',
       'qtde_contas_bancarias', 'qtde_contas_bancarias_especiais',
       'valor_patrimonio_pessoal', 'possui_carro',
       'vinculo_formal_com_empresa', 'estado_onde_trabalha',
       'possui_telefone_trabalho', 'codigo_area_telefone_trabalho',
       'meses_no_trabalho', 'profissao', 'ocupacao', 'profissao_companheiro',
       'grau_instrucao_companheiro', 'local_onde_reside',
       'local_onde_trabalha', 'inadimplente'],
      dtype='object')

VariÃ¡veis que continuarÃ£o no DataFrame

In [7]:
deixar_treina = { 'produto_solicitado':1,
                 'dia_vencimento':2,
                 'idade':6,
                'estado_civil':7,
                 'qtde_dependentes':8,
                 'nacionalidade':10,
                 'tipo_residencia':15,
                 'renda_mensal_regular':19, 
                 'renda_extra':20,
                 'possui_cartao_visa':21,
                 'possui_cartao_mastercard':22,
                 'possui_cartao_diners':23, 
                 'possui_cartao_amex':24, 
                 'possui_outros_cartoes':25,
                 'qtde_contas_bancarias':26,
                 'valor_patrimonio_pessoal':28, 
                 'possui_carro':29, 
                 'ocupacao':36, 
                 'local_onde_reside':39,
                 'local_onde_trabalha':40, 
                 'inadimplente':41}

In [8]:
indices = []
for i in deixar_treina:
    indices.append(deixar_treina[i])

In [9]:
df_treinamento = df_treinamento.iloc[:,indices]

In [10]:
df_treinamento.head()

,produto_solicitado,dia_vencimento,idade,estado_civil,qtde_dependentes,nacionalidade,tipo_residencia,renda_mensal_regular,renda_extra,possui_cartao_visa,...,possui_cartao_diners,possui_cartao_amex,possui_outros_cartoes,qtde_contas_bancarias,valor_patrimonio_pessoal,possui_carro,ocupacao,local_onde_reside,local_onde_trabalha,inadimplente
0,1,10,85,2,0,1,1.0,480.0,0.0,0,...,0,0,0,1,0.0,1,1.0,600.0,600.0,0
1,1,25,38,1,0,1,1.0,380.0,0.0,0,...,0,0,0,0,0.0,0,5.0,492.0,492.0,0
2,1,20,37,2,0,1,5.0,600.0,0.0,0,...,0,0,0,0,0.0,0,NaN,450.0,450.0,1
3,1,20,37,1,1,1,1.0,460.0,0.0,0,...,0,0,0,0,0.0,0,2.0,932.0,932.0,1
4,7,1,51,1,3,1,0.0,687.0,600.0,0,...,0,0,0,0,0.0,1,5.0,440.0,440.0,1

contando valores ausentes no conjunto de treinamento

In [11]:
df_treinamento.isnull().sum()

produto_solicitado             0
dia_vencimento                 0
idade                          0
estado_civil                   0
qtde_dependentes               0
nacionalidade                  0
tipo_residencia              536
renda_mensal_regular           0
renda_extra                    0
possui_cartao_visa             0
possui_cartao_mastercard       0
possui_cartao_diners           0
possui_cartao_amex             0
possui_outros_cartoes          0
qtde_contas_bancarias          0
valor_patrimonio_pessoal       0
possui_carro                   0
ocupacao                    2978
local_onde_reside              0
local_onde_trabalha            0
inadimplente                   0
dtype: int64

Extrair a mediana de tipo_residencia e preencher os valores ausentes com ela

In [18]:
tipo_residencia_mediana = df_treinamento["tipo_residencia"].median()
ocupacao_mediana = df_treinamento["ocupacao"].median()
values = {"tipo_residencia":tipo_residencia_mediana,
         "ocupacao":ocupacao_mediana}

df_treinamento.fillna(value=values)

,produto_solicitado,dia_vencimento,idade,estado_civil,qtde_dependentes,nacionalidade,tipo_residencia,renda_mensal_regular,renda_extra,possui_cartao_visa,...,possui_cartao_diners,possui_cartao_amex,possui_outros_cartoes,qtde_contas_bancarias,valor_patrimonio_pessoal,possui_carro,ocupacao,local_onde_reside,local_onde_trabalha,inadimplente
0,1,10,85,2,0,1,1.0,480.0,0.0,0,...,0,0,0,1,0.0,1,1.0,600.0,600.0,0
1,1,25,38,1,0,1,1.0,380.0,0.0,0,...,0,0,0,0,0.0,0,5.0,492.0,492.0,0
2,1,20,37,2,0,1,5.0,600.0,0.0,0,...,0,0,0,0,0.0,0,2.0,450.0,450.0,1
3,1,20,37,1,1,1,1.0,460.0,0.0,0,...,0,0,0,0,0.0,0,2.0,932.0,932.0,1
4,7,1,51,1,3,1,0.0,687.0,600.0,0,...,0,0,0,0,0.0,1,5.0,440.0,440.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,1,10,27,2,0,1,2.0,423.0,0.0,0,...,0,0,0,1,0.0,1,1.0,308.0,308.0,0
19996,1,20,26,2,1,1,1.0,350.0,0.0,0,...,0,0,0,1,0.0,1,2.0,639.0,639.0,0
19997,1,10,63,2,0,1,5.0,321.0,0.0,0,...,0,0,0,0,0.0,0,1.0,486.0,486.0,0
19998,1,5,84,1,0,1,1.0,380.0,0.0,0,...,0,0,0,0,0.0,0,2.0,590.0,590.0,0
19999,2,20,53,1,0,1,1.0,300.0,0.0,0,...,0,0,0,1,0.0,1,5.0,132.0,132.0,0

Plotando grÃ¡ficos

In [ ]:
sns.pairplot(df_treinamento,hue="inadimplente")